.iphone14270Child {
  position: absolute;
  height: 22.6%;
  width: 52.29%;
  top: 23.28%;
  right: -14.9%;
  bottom: 54.11%;
  left: 62.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
